<div class="app-pane__header toc-open-disabled">
    <a href="#content" class="govuk-skip-link">Skip to main content</a>
    <header class="govuk-header app-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-header__container--full-width">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            {{ department_name }}
                        </span>
                    </span>
                    <span class="govuk-header__product-name">
                        {{ service_name }}
                    </span>
                </a>
            </div>
            <div class="govuk-header__content">
                <!-- Placeholder for top level nav -->
            </div>
        </div>
    </header>
</div>
