<div class="app-pane__toc">
    <div class="toc" data-module="table-of-contents" tabindex="-1" aria-label="Table of contents" role="dialog">
        <button type="button" class="toc__close js-toc-close" aria-controls="toc"
            aria-label="Hide table of contents"></button>
        <nav id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading">
            <ul>
                <li>
                    <a href="#top"><span>{{ service_name }}</span></a>
                    <ul>
                        <li>
                            <a href="#getting-started"><span>Getting started</span></a>
                        </li>
                        <li>
                            <a href="#base-url"><span>Base URL</span></a>
                        </li>
                        <li>
                            <a href="#versioning"><span>Versioning</span></a>
                        </li>
                        <li>
                            <a href="#reports"><span>Reports</span></a>
                        </li>
                        <li>
                            <a href="#common-parameters"><span>Common parameters</span></a>
                        </li>
                        <li>
                            <a href="#api-endpoints"><span>API Endpoints</span></a>
                            <ul>
                                <li>
                                    <a href="#list-datasets"><span>GET list of datasets</span></a>
                                </li>
                                <li>
                                    <a href="#list-versions"><span>GET list of versions of a dataset</span></a>
                                </li>
                                <li>
                                    <a href="#list-tables"><span>GET list of tables in a version</span></a>
                                </li>
                                <li>
                                    <a href="#list-reports"><span>GET list of reports in a version</span></a>
                                </li>
                                <li>
                                    <a href="#get-metadata"><span>GET metadata of a version</span></a>
                                </li>
                                <li>
                                    <a href="#get-data"><span>GET data in a version</span></a>
                                </li>
                                <li>
                                    <a href="#get-data-table"><span>GET data in a table</span></a>
                                </li>
                                <li>
                                    <a href="#get-data-report"><span>GET data in a report</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#support"><span>Support</span></a>
                        </li>
                        <li>
                            <a href="#security"><span>Security</span></a>
                        </li>
                        <li>
                            <a href="#accessibility"><span>Accessibility</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
