<!doctype html>
<html lang="en" class="govuk-template no-js">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ service_name }} - {{ department_name }}</title>
    <meta name="description" content="The {{ department_name }} {{ service_name }} supplies datasets via HTTPS without authentication">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ service_name }} - {{ department_name }}">
    <meta name="twitter:url" content="{{ url_for('docs', _external=True) }}">
    <meta property="og:site_name" content="{{ service_name }}">
    <meta property="og:title" content="{{ service_name }} - {{ department_name }}">
    <meta property="og:type" content="object">
    <meta property="og:url" content="{{ url_for('docs', _external=True) }}">

    <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="shortcut icon" type="image/png">
    <link rel="canonical" href="{{ url_for('docs', _external=True) }}">
    <link href="{{ url_for('static', filename='docs.css') }}" rel="stylesheet">
  </head>
  <body class="govuk-template__body">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div>
      <div>
        <a href="#content" class="govuk-skip-link">Skip to main content</a>

        <header class="govuk-header app-header" role="banner" data-module="govuk-header">
          <div class="govuk-header__container govuk-header__container--full-width">
            <div class="govuk-header__logo">
              <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                  <span class="govuk-header__logotype-text">
                    {{ department_name }}
                  </span>
                </span>
                <span class="govuk-header__product-name">
                  {{ service_name }}
                </span>
              </a>
            </div>
            <div class="govuk-header__content">
              <!-- Placeholder for top level nav -->
            </div>
          </div>
        </header>
        <div>
          <main id="content" class="technical-documentation" data-module="anchored-headings">
            <!-- Main title -->
                <h1 class="govuk-heading-m">Accessibility statement for Public Data Gateway</h1>
                <p class='govuk-body'>
                  This accessibility statement applies to Public Data Gateway.
                </p>
                <p class='govuk-body'>
                  This website is run by the Department for Business and Trade. We want as many
                  people as possible to be able to use this website. For example, that means you
                  should be able to:
                </p>
                <ul class="govuk-list">
                  <li>change colours, contrast levels and fonts using browser or device settings</li>
                  <li>zoom in up to 400% without the text spilling off the screen</li>
                  <li>navigate most of the website using a keyboard or speech recognition
                    software</li>
                  <li>listen to most of the website using a screen reader (including the most recent
                    versions of JAWS, NVDA and VoiceOver)</li>
                </ul>
                <p class='govuk-body'> 
                  We’ve also made the website text as simple as possible to understand.
                </p> 
                <p class='govuk-body'> 
                  <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
                </p> 
                <h2 class="govuk-heading-m">How accessible this website is</h2>
                <p class='govuk-body'>
                  We know some parts of this website are not fully accessible:
                </p>
                <ul class="govuk-list">
                  <li>some of the tables have incorrect usage of scope attribute</li>
                  <li>some non-interactive elements have been placed in tab order</li>
                  <li>incorrect use of ARIA - WAI-ARIA roles were used but did not follow the
                    design pattern to ensure that all behaviour, information and functionality were
                    correctly exposed to assistive technologies</li>
                  <li>focus order - On iOS devices, the focus is not managed appropriately to
                    ensure screen reader users have a consistent experience across all screen
                    reading software</li>
                </ul>
                <h2 class="govuk-heading-m">Feedback and contact information</h2>
                <p class='govuk-body'> 
                  If you find any problems not listed on this page or think we’re not meeting
accessibility requirements, contact: <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">sre-team@digital.trade.gov.uk</a>.
                </p> 
                <p class='govuk-body'> 
                  If you need information on this website in a different format like accessible PDF,
large print, easy read, audio recording or braille, email <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">sre-
  team@digital.trade.gov.uk</a>.
                </p> 
                <p class='govuk-body'>We’ll consider your request and get back to you in 5 working days.</p>
                <h2 class="govuk-heading-m">Enforcement procedure</h2>
                <p class='govuk-body'> 
                  The Equality and Human Rights Commission (EHRC) is responsible for enforcing the
Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility
Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we
respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service
(EASS)</a>.
                </p> 

          </main>  
          <footer class="govuk-footer app-footer" role="contentinfo">
            <div class="govuk-footer__meta">
              <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  class="govuk-footer__licence-logo"
                  xmlns="http://www.w3.org/2000/svg"
                  viewbox="0 0 483.2 195.7"
                  height="17"
                  width="41"
                >
                  <path
                    fill="currentColor"
                    d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
                  >
                </svg>
                <span class="govuk-footer__licence-description">
                  All content is available under the
                  <a
                    class="govuk-footer__link"
                    href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                    rel="license"
                  >Open Government Licence v3.0</a>, except where otherwise stated
                </span>
              </div>
              <div class="govuk-footer__meta-item">
                <a
                  class="govuk-footer__link govuk-footer__copyright-logo"
                  href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
                >© Crown copyright</a>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='docs.js') }}"></script>
  </body>
</html>
