<!doctype html>
<html lang="en" class="govuk-template no-js">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ service_name }} - {{ department_name }}</title>
    <meta name="description" content="The {{ department_name }} {{ service_name }} supplies datasets via HTTPS without authentication">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ service_name }} - {{ department_name }}">
    <meta name="twitter:url" content="{{ url_for('docs', _external=True) }}">
    <meta property="og:site_name" content="{{ service_name }}">
    <meta property="og:title" content="{{ service_name }} - {{ department_name }}">
    <meta property="og:type" content="object">
    <meta property="og:url" content="{{ url_for('docs', _external=True) }}">

    <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="shortcut icon" type="image/png">
    <link rel="canonical" href="{{ url_for('docs', _external=True) }}">
    <link href="{{ url_for('static', filename='docs.css') }}" rel="stylesheet">
  </head>

  <body class="govuk-template__body">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div class="app-pane">
      <div class="app-pane__header toc-open-disabled">
        <a href="#content" class="govuk-skip-link">Skip to main content</a>

        <header class="govuk-header app-header" role="banner" data-module="govuk-header">
          <div class="govuk-header__container govuk-header__container--full-width">
            <div class="govuk-header__logo">
              <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                  <span class="govuk-header__logotype-text">
                    {{ department_name }}
                  </span>
                </span>
                <span class="govuk-header__product-name">
                  {{ service_name }}
                </span>
              </a>
            </div>
            <div class="govuk-header__content">
              <!-- Placeholder for top level nav -->
            </div>
          </div>
        </header>
      </div>
      <div id="toc-heading" class="toc-show fixedsticky">
        <button type="button" class="toc-show__label js-toc-show" aria-controls="toc">
          Table of contents <span class="toc-show__icon"></span>
        </button>
      </div>
      <div class="app-pane__body" data-module="in-page-navigation">
        <div class="app-pane__toc">
          <div class="toc" data-module="table-of-contents" tabindex="-1" aria-label="Table of contents" role="dialog">
            <button type="button" class="toc__close js-toc-close" aria-controls="toc" aria-label="Hide table of contents"></button>
            <nav id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading">
              <ul>
                <li>
                  <a href="#top"><span>{{ service_name }}</span></a>
                  <ul>
                    <li>
                      <a href="#getting-started"><span>Getting started</span></a>
                    </li>
                    <li>
                      <a href="#base-url"><span>Base URL</span></a>
                    </li>
                    <li>
                      <a href="#versioning"><span>Versioning</span></a>
                    </li>
                    <li>
                      <a href="#reports"><span>Reports</span></a>
                    </li>
                    <li>
                      <a href="#common-parameters"><span>Common parameters</span></a>
                    </li>
                    <li>
                      <a href="#api-endpoints"><span>API Endpoints</span></a>
                      <ul>
                        <li>
                          <a href="#list-datasets"><span>GET list of datasets</span></a>
                        </li>
                        <li>
                          <a href="#list-versions"><span>GET list of versions of a dataset</span></a>
                        </li>
                        <li>
                          <a href="#list-tables"><span>GET list of tables in a version</span></a>
                        </li>
                        <li>
                          <a href="#list-reports"><span>GET list of reports in a version</span></a>
                        </li>
                        <li>
                          <a href="#get-metadata"><span>GET metadata of a version</span></a>
                        </li>
                        <li>
                          <a href="#get-data"><span>GET data in a version</span></a>
                        </li>
                        <li>
                          <a href="#get-data-table"><span>GET data in a table</span></a>
                        </li>
                        <li>
                          <a href="#get-data-report"><span>GET data in a report</span></a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#support"><span>Support</span></a>
                    </li>
                    <li>
                      <a href="#security"><span>Security</span></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="app-pane__content toc-open-disabled">
          <main id="content" class="technical-documentation" data-module="anchored-headings">
            <!-- Main title -->
            <h1 id="top">{{ service_name }}</h1>

            <p>The {{ department_name }} {{ service_name }} supplies datasets via <a href="https://en.wikipedia.org/wiki/HTTPS">HTTPS</a> without authentication.</p>
            <ul>
              <li>Datasets are versioned</li>
              <li>Each dataset version is immutable</li>
              <li>Each dataset version has one or more tables</li>
              <li>Each dataset version has zero or more reports - a report contains filtered or aggregated table data</li>
              <li>Metadata for each dataset version is available as <a href="https://en.wikipedia.org/wiki/HTML">HTML</a> or <a href="https://www.w3.org/TR/tabular-data-primer/">CSVW</a> (CSV on the Web)</li>
              <li>Data can be filtered or aggregated using the <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-glacier-select-sql-reference-select.html">S3 Select query language</a></li>
              <li>Data is supplied as <a href="https://www.sqlite.org/">SQLite</a>, <a href="https://en.wikipedia.org/wiki/JSON">JSON</a>, <a href="https://www.gov.uk/government/publications/recommended-open-standards-for-government/tabular-data-standard">CSV</a>, or <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation">ODS (OpenDocument Spreadsheet)</a>.</li>
            </ul>

            <p>The source code for the {{ service_name }} is available in its <a href="{{ github_repo_url }}">GitHub repository</a>.</p>

            <h2 id="getting-started">Getting started</h2>

            <p>Any tool that can make HTTPS requests can access the {{ service_name}}. Examples are <a href="https://curl.se/">curl</a>, <a href="https://www.postman.com/">Postman</a>, or the web browser you're currently using.</p>

            <p>For example <a href="{{ base_url }}/v1/datasets?format=json">{{ base_url }}/v1/datasets?format=json</a> will return a list of datasets.</p>

            <h2 id="base-url">Base URL</h2>
            <p>All requests to this API should be prefixed with the following URL.</p>
            <pre tabindex="0"><code class="hljs html">{{ base_url }}</code></pre>

            <h2 id="versioning">Versioning</h2>

            <p>Datasets are versioned according to a subset of the <a href="https://semver.org/">Semver 2.0</a> specification. Each version is of the form X.Y.Z, where X is the major version, Y is the minor version, and Z is the patch version. Each release of a dataset increments the version according to the following rules.</p>

            <ul>
              <li>Patch: incremented when data is added or changed, but the structure of the data is the same.</li>
              <li>Minor: incremented when new fields or tables are added to the data, but existing ones are unchanged.</li>
              <li>Major: incremented when existing fields are removed or change type.</li>
            </ul>

            <h2 id="reports">Reports</h2>

            <p>Datasets can contain reports. Reports are similar to tables, except that the data in reports is generated from the tables in the dataset. Reports are available to satisfy common use cases for filtered or aggregated views of the data in a dataset.</p>

            <p>If a dataset is available as SQLite, reports are generated using SQL in the <code class="hljs html">_reports</code> table in the SQLite file.</p>

            <h2 id="common-parameters">Common parameters</h2>

            <p>Several URL parameters are applicable to multiple API endpoints.</p>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">dataset_id</code></td>
                  <td class="govuk-table__cell">A human-readable identifier of a dataset, e.g. <code>{{ dataset }}</code></td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">version_id</code></td>
                  <td class="govuk-table__cell">
                      <p>A version identifier in the format <code class="hljs html nowrap">vX.Y.Z</code>, where <code class="hljs html">X.Y.Z</code> is the <a href="https://semver.org/">Semver 2.0</a> version of the dataset, e.g. <code>{{ version }}</code></p>
                      <p>or</p>
                      <p>A version in the format <code class="hljs html">vX.Y</code>. In this case, a HTTP 302 redirect is returned to the URL requested, but with <code class="hljs html">version_id</code> equal to the latest version of the dataset with major and minor components matching <code class="hljs html">vX.Y</code></p>
                      <p>or</p>
                      <p>A version in the format <code class="hljs html">vX</code>. In this case, a HTTP 302 redirect is returned to the URL requested, but with <code class="hljs html">version_id</code> equal to the latest version of the dataset with major component matching <code class="hljs html">vX</code></p>
                      <p>or</p>
                      <p>The literal <code class="hljs html">latest</code>. In this case, a HTTP 302 redirect is returned to the URL requested, but with <code class="hljs html">version_id</code> equal to the latest version of the dataset</p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">table_id</code></td>
                  <td class="govuk-table__cell">A human-readable identifier of a table, e.g. <code>{{ table_name }}</code></td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">report_id</code></td>
                  <td class="govuk-table__cell">A human-readable identifier of a report, e.g. <code>{{ sample_dataset_with_report_report_name }}</code></td>
                </tr>
              </tbody>
            </table>

            <h2 id="api-endpoints">API Endpoints</h2>

            <h3 id="list-datasets">GET list of datasets</h3>
            <p>The list of all datasets available in the {{ service_name }} can be accessed using this endpoint.</p>
            <pre tabindex="0"><code class="hljs html">GET /v1/datasets</code></pre>
            <h4 id="list-datasets-query-string-parameters">Query string parameters</h4>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Required</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">format</code></td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell">The requested output format. In all cases, this must be <code class="hljs html">json</code></td>
                </tr>
              </tbody>
            </table>
            <h4 id="list-datasets-example">Example</h4>
            <h5 id="list-datasets-example-request">Request</h5>
            <pre tabindex="0"><code class="hljs html">curl --get {{ base_url }}/v1/datasets \
    --data-urlencode "format=json"</code></pre>
            <h5 id="list-datasets-example-response">Response</h5>
            <pre tabindex="0"><code class="hljs html">Status: 200 OK
{
    "datasets": [
        {"id": "market-barriers"}, {"id": "uk-tariff-2021-01-01"}
    ]
}</code></pre>

            <h3 id="list-versions">GET list of versions of a dataset</h3>
            <p>The list of versions of each dataset can be accessed using this endpoint.</p>
            <pre tabindex="0"><code class="hljs html">GET /v1/datasets/{dataset_id}/versions</code></pre>
            <h4 id="list-versions-query-string-parameters">Query string parameters</h4>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Required</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">format</code></td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell">The requested output format. In all cases, this must be <code class="hljs html">json</code></td>
                </tr>
              </tbody>
            </table>
            <h4 id="list-versions-example">Example</h4>
            <h5 id="list-versions-example-request">Request</h5>
            <pre tabindex="0"><code class="hljs html">curl --get {{ base_url }}/v1/datasets/{{ dataset }}/versions \
    --data-urlencode "format=json"</code></pre>
            <h5 id="list-versions-example-response">Response</h5>
            <pre tabindex="0"><code class="hljs html">Status: 200 OK
{
    "versions": [
        {"id": "{{ latest_version }}"}, {"id": "{{ version }}"}
    ]
}</code></pre>

            <h3 id="list-tables">GET list of tables in a version</h3>
            <p>The list of tables of each dataset version can be accessed using this endpoint.</p>
            <pre tabindex="0"><code class="hljs html">GET /v1/datasets/{dataset_id}/versions/{version_id}/tables</code></pre>
            <h4 id="list-tables-query-string-parameters">Query string parameters</h4>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Required</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">format</code></td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell">The requested output format. In all cases, this must be <code class="hljs html">json</code></td>
                </tr>
              </tbody>
            </table>
            <h4 id="list-tables-example">Example</h4>
            <h5 id="list-tables-example-request">Request</h5>
            <pre tabindex="0"><code class="hljs html">curl --get {{ base_url }}/v1/datasets/{{ dataset }}/versions/{{ version }}/tables \
    --data-urlencode "format=json"</code></pre>
            <h5 id="list-tables-example-response">Response</h5>
            <pre tabindex="0"><code class="hljs html">Status: 200 OK
{
    "tables": [
        {"id": "commodities"},
        {"id": "measures-as-defined"},
        {"id": "measures-on-declarable-commodities"}
    ]
}</code></pre>

            <h3 id="list-reports">GET list of reports in a version</h3>
            <p>The list of reports of each dataset version can be accessed using this endpoint.</p>
            <pre tabindex="0"><code class="hljs html">GET /v1/datasets/{dataset_id}/versions/{version_id}/reports</code></pre>
            <h4 id="list-reports-query-string-parameters">Query string parameters</h4>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Required</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">format</code></td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell">The requested output format. In all cases, this must be <code class="hljs html">json</code></td>
                </tr>
              </tbody>
            </table>
            <h4 id="list-reports-example">Example</h4>
            <h5 id="list-reports-example-request">Request</h5>
            <pre tabindex="0"><code class="hljs html">curl --get {{ base_url }}/v1/datasets/{{ sample_dataset_with_report }}/versions/{{ sample_dataset_with_report_version }}/reports \
    --data-urlencode "format=json"</code></pre>
            <h5 id="list-reports-example-response">Response</h5>
            <pre tabindex="0"><code class="hljs html">Status: 200 OK
{
    "reports": [
        {"id": "quotas-including-current-volumes"}
    ]
}</code></pre>

            <h3 id="get-metadata">GET metadata of a version</h3>
            <p>The metadata of a dataset version can be accessed using this endpoint.</p>
            <pre tabindex="0"><code class="hljs html">GET /v1/datasets/{dataset_id}/versions/{version_id}/metadata</code></pre>
            <h4 id="get-metadata-query-string-parameters">Query string parameters</h4>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Required</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">format</code></td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell">The requested output format. This must be <code class="hljs html">csvw</code> or <code class="hljs html">html</code></td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">download</code></td>
                  <td class="govuk-table__cell">No</td>
                  <td class="govuk-table__cell">The presence of this parameter results in a <code class="hljs html">content-disposition</code> header so that browsers attempt to download the metadata rather than display it inline</td>
                </tr>
              </tbody>
            </table>
            <h4 id="get-metadata-csvw-example">Example requesting CSVW</h4>
            <h5 id="get-metadata-csvw-example-request">Request</h5>
            <pre tabindex="0"><code class="hljs html">curl --get {{ base_url }}/v1/datasets/{{ dataset }}/versions/{{ version }}/metadata \
    --data-urlencode "format=csvw"</code></pre>
            <h5 id="get-metadata-csvw-example-response">Response (excerpt)</h5>
            <pre tabindex="0"><code class="hljs html">Status: 200 OK
{
  "@context": [
    "http://www.w3.org/ns/csvw",
    {"dit": "http://data.api.trade.gov.uk/"}
  ],
  "dc:title": "Tariffs to trade with the UK from 1 January 2021",
  ...
  "tables": [{
    "id": "commodities",
    ...
    "tableSchema": {
      "columns": [{
        "name": "id",
        ...
      }, ...]
    }
  }, ...]
}</code></pre>

            <h3 id="get-data">GET data in a version</h3>
            <p>All of the data of a dataset version can be accessed using this endpoint</p>
            <pre tabindex="0"><code class="hljs html">GET /v1/datasets/{dataset_id}/versions/{version_id}/data</code></pre>
            <h4 id="get-data-query-string-parameters">Query string parameters</h4>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Required</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">format</code></td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell">The requested output format. This must be <code class="hljs html">sqlite</code>, <code class="hljs html">json</code>, or <code class="hljs html">ods</code></td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">query-s3-select</code></td>
                  <td class="govuk-table__cell">No</td>
                  <td class="govuk-table__cell">
                    <p>A query using the <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-glacier-select-sql-reference-select.html">S3 Select query language</a>,  e.g. <code class="hljs psql">SELECT * FROM S3Object[*]</code></p>
                    <p>The response is a JSON object with the query results under the <code class="hljs html">rows</code> key, i.e. <code class="hljs html">{"rows": [...]}</code></p>
                    <p>Using <code class="hljs html">query-s3-select</code> requires that the <code class="hljs html">format</code> parameter be <code class="hljs html">json</code>.</p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">download</code></td>
                  <td class="govuk-table__cell">No</td>
                  <td class="govuk-table__cell">The presence of this parameter results in a <code class="hljs html">content-disposition</code> header so that browsers attempt to download the data rather than display it inline.</td>
                </tr>
              </tbody>
            </table>
            <h4 id="get-data-range-requests">Range requests</h4>
            <p>If a <code class="hljs html">query-s3-select</code> is <i>not</i> specified, the <code class="hljs html">range</code> HTTP header can be passed to select a byte-range of the dataset. See <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests">HTTP Range Requests</a> for more details.</p>
            <h4 id="get-data-example-without-query">Example without a query</h4>
            <h5 id="get-data-example-without-query-request">Request</h5>
            <pre tabindex="0"><code class="hljs html">curl --get {{ base_url }}/v1/datasets/{{ dataset }}/versions/{{ version }}/data \
    --data-urlencode "format=json"</code></pre>
            <h5 id="get-data-example-without-a-query-response">Response (excerpt)</h5>
            <pre tabindex="0"><code class="hljs html">Status: 200 OK
{
    "commodities": [
        {"id": "1", "commodity__code": "0100000000", ...
        ...
    ],
    ...
}</code></pre>
            <h4 id="get-data-example-with-query">Example with a query</h4>
            <h5 id="get-data-example-with-query-request">Request</h5>
            <pre tabindex="0"><code class="hljs html">curl --get https://data.api.trade.gov.uk/v1/datasets/uk-tariff-2021-01-01/versions/v2.1.0/data \
    --data-urlencode "format=json" \
    --data-urlencode "query-s3-select=
        SELECT
            c.commodity__code, c.commodity__suffix, c.commodity__description
        FROM
            S3Object[*].commodities[*] c
        WHERE
            c.commodity__code = '0101210000'
        LIMIT
            1
    "</code></pre>
            <h5 id="get-data-example-with-query-response">Response</h5>
            <pre tabindex="0"><code class="hljs html">Status: 200 OK
{
    "rows":[
      {"commodity__code": "0101210000", "commodity__suffix": "10", "commodity__description": "Horses"}
    ]
}</code></pre>

            <h3 id="get-data-table">GET data in a table</h3>
            <p>The data of single table in a dataset version can be accessed using this endpoint.</p>
            <pre tabindex="0"><code class="hljs html">GET /v1/datasets/{dataset_id}/versions/{version_id}/tables/{table_id}/data</code></pre>
            <h4 id="get-data-table-query-string-parameters">Query string parameters</h4>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Required</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">format</code></td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell">The requested output format. This must be <code class="hljs html">csv</code> or <code class="hljs html">ods</code></td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">query-s3-select</code></td>
                  <td class="govuk-table__cell">No</td>
                  <td class="govuk-table__cell">
                    <p>A query using the <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-glacier-select-sql-reference-select.html">S3 Select query language</a>,  e.g. <code class="hljs psql">SELECT * FROM S3Object</code></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">query-simple</code></td>
                  <td class="govuk-table__cell">No</td>
                  <td class="govuk-table__cell">
                    <p>Enables a "simple" query mode to specify columns to retrieve, and filter rows using exact matching.</p>
                    <p>In simple mode, the value of each <code class="hljs html nowrap">_columns</code> parameter is a single column to include in the output. This parameter can be passed multiple times to include multiple columns.</p>
                    <p>Filtering on rows can then be performed by passing key value pairs <code class="hljs html nowrap">column=value</code>. The output includes only those rows where column <code class="hljs html nowrap">column</code> equals <code class="hljs html nowrap">value</code>.</p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">download</code></td>
                  <td class="govuk-table__cell">No</td>
                  <td class="govuk-table__cell">The presence of this parameter results in a <code class="hljs html">content-disposition</code> header so that browsers attempt to download the data rather than display it inline.</td>
                </tr>
              </tbody>
            </table>
            <h4 id="get-data-table-range-requests">Range requests</h4>
            <p>If <code class="hljs html">query-s3-select</code> and <code class="hljs html">query-simple</code> are <i>not</i> specified, the <code class="hljs html">range</code> HTTP header can be passed to select a byte-range of the table. See <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests">HTTP Range Requests</a> for more details.</p>
            <h4 id="get-data-table-example-without-query">Example without a query</h4>
            <h5 id="get-data-table-example-without-query-request">Request</h5>
            <pre tabindex="0"><code class="hljs html">curl --get {{ base_url }}/v1/datasets/{{ dataset }}/versions/{{ version }}/tables/{{ table_name }}/data \
    --data-urlencode "format=csv"</code></pre>
            <h5 id="get-data-table-example-without-query-response">Response</h5>
            <pre tabindex="0"><code class="hljs html">Status: 200 OK
"id","commodity__sid","commodity__code","commodity__suffix","commodity__description","commodity__validity_start","commodity__validity_end","parent__sid","parent__code","parent__suffix"
"1","27623","0100000000","80","LIVE ANIMALS","1971-12-31","#NA","#NA","#NA","#NA"
"2","27624","0101000000","80","Live horses, asses, mules and hinnies","1972-01-01","#NA","27623","0100000000","80"
"3","93797","0101210000","10","Horses","2012-01-01","#NA","27624","0101000000","80"
</code></pre>

            <h4 id="get-data-table-example-with-s3-select-query">Example with an S3 Select query</h4>
            <h5 id="get-data-table-example-with-s3-select-query-request">Request</h5>
            <pre tabindex="0"><code class="hljs html">curl --get {{ base_url }}/v1/datasets/{{ dataset }}/versions/{{ version }}/tables/{{ table_name }}/data \
    --data-urlencode "format=csv" \
    --data-urlencode "query-s3-select=
        SELECT
            c.commodity__code, c.commodity__suffix, c.commodity__description
        FROM
            S3Object c
        WHERE
            c.commodity__code = '0101210000'
        LIMIT
            1
    "</code></pre>

            <h5 id="get-data-table-example-with-s3-select-query-response">Response</h5>
            <pre tabindex="0"><code class="hljs html">Status: 200 OK
0101210000,10,Horses
</code></pre>

            <h4 id="get-data-table-example-with-simple-query">Example with a simple query</h4>
            <h5 id="get-data-table-example-with-simple-query-request">Request</h5>
            <pre tabindex="0"><code class="hljs html">curl --get {{ base_url }}/v1/datasets/{{ dataset }}/versions/{{ version }}/tables/{{ table_name }}/data \
    --data-urlencode "format=csv" \
    --data-urlencode "query-simple" \
    --data-urlencode "commodity__code=0101210000" \
    --data-urlencode "_columns=commodity__code" \
    --data-urlencode "_columns=commodity__suffix" \
    --data-urlencode "_columns=commodity__description"
</code></pre>

            <h5 id="get-data-table-example-with-simple-query-response">Response</h5>
            <pre tabindex="0"><code class="hljs html">Status: 200 OK
commodity__code,commodity__suffix,commodity__description
0101210000,10,Horses
0101210000,80,Pure-bred breeding animals
</code></pre>

            <h3 id="get-data-report">GET data in a report</h3>
            <p>The data of a single report in a dataset version can be accessed using this endpoint.</p>
            <pre tabindex="0"><code class="hljs html">GET /v1/datasets/{dataset_id}/versions/{version_id}/reports/{report_id}/data</code></pre>
            <h4 id="get-data-report-query-string-parameters">Query string parameters</h4>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Required</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">format</code></td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell">The requested output format. This must be <code class="hljs html">csv</code> or <code class="hljs html">ods</code></td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">query-s3-select</code></td>
                  <td class="govuk-table__cell">No</td>
                  <td class="govuk-table__cell">
                    <p>A query using the <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-glacier-select-sql-reference-select.html">S3 Select query language</a>,  e.g. <code class="hljs psql">SELECT * FROM S3Object</code></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">query-simple</code></td>
                  <td class="govuk-table__cell">No</td>
                  <td class="govuk-table__cell">
                    <p>Enables a "simple" query mode to specify columns to retrieve, and filter rows using exact matching.</p>
                    <p>In simple mode, the value of each <code class="hljs html nowrap">_columns</code> parameter is a single column to include in the output. This parameter can be passed multiple times to include multiple columns.</p>
                    <p>Filtering on rows can then be performed by passing key value pairs <code class="hljs html nowrap">column=value</code>. The output includes only those rows where column <code class="hljs html nowrap">column</code> equals <code class="hljs html nowrap">value</code>.</p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><code class="hljs html nowrap">download</code></td>
                  <td class="govuk-table__cell">No</td>
                  <td class="govuk-table__cell">The presence of this parameter results in a <code class="hljs html">content-disposition</code> header so that browsers attempt to download the data rather than display it inline.</td>
                </tr>
              </tbody>
            </table>
            <h4 id="get-data-report-range-requests">Range requests</h4>
            <p>If <code class="hljs html">query-s3-select</code> and <code class="hljs html">query-simple</code> are <i>not</i> specified, the <code class="hljs html">range</code> HTTP header can be passed to select a byte-range of the report. See <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests">HTTP Range Requests</a> for more details.</p>
            <h4 id="get-data-report-example-without-query">Example without a query</h4>
            <h5 id="get-data-report-example-without-query-request">Request</h5>
            <pre tabindex="0"><code class="hljs html">curl --get {{ base_url }}/v1/datasets/{{ sample_dataset_with_report }}/versions/{{ sample_dataset_with_report_version }}/reports/{{ sample_dataset_with_report_report_name }}/data \
    --data-urlencode "format=csv"</code></pre>
            <h5 id="get-data-report-example-without-query-response">Response (excerpt)</h5>
            <pre tabindex="0"><code class="hljs html">Status: 200 OK
"quota_definition__sid","quota__order_number","quota__geographical_areas","quota__headings","quota__commodities","quota__measurement_unit","quota__monetary_unit","quota_definition__description","quota_definition__validity_start_date","quota_definition__validity_end_date","quota_definition__suspension_periods","quota_definition__blocking_periods","quota_definition__status","quota_definition__last_allocation_date","quota_definition__initial_volume","quota_definition__balance","quota_definition__fill_rate"
20815,50006,"ERGA OMNES","0302 – Fish, fresh or chilled, excluding fish fillets and other fish meat of heading|0304|0303 – Fish, frozen, excluding fish fillets and other fish meat of heading 0304|0304 – Fish fillets and other fish meat (whether or not minced), fresh, chilled or frozen","0302410000|0303510000|0304595000|0304599010|0304992300","Kilogram (kg)","#NA","#NA","2021-01-01","2021-02-14","#NA","#NA","Closed","2021-01-28",2022900,2022900.0,0.0
20814,50006,"ERGA OMNES","0302 – Fish, fresh or chilled, excluding fish fillets and other fish meat of heading|0304|0303 – Fish, frozen, excluding fish fillets and other fish meat of heading 0304|0304 – Fish fillets and other fish meat (whether or not minced), fresh, chilled or frozen","0302410000|0303510000|0304595000|0304599010|0304992300","Kilogram (kg)","#NA","#NA","2021-06-16","2022-02-14","#NA","#NA","Open","#NA",2112000,2112000.0,0.0
</code></pre>

            <h4 id="get-data-report-example-with-s3-select-query">Example with an S3 Select query</h4>
            <h5 id="get-data-report-example-with-s3-select-query-request">Request</h5>
            <pre tabindex="0"><code class="hljs html">curl --get {{ base_url }}/v1/datasets/{{ sample_dataset_with_report }}/versions/{{ sample_dataset_with_report_version }}/reports/{{ sample_dataset_with_report_report_name }}/data \
    --data-urlencode "format=csv" \
    --data-urlencode "query-s3-select=
        SELECT
            q.quota__order_number, q.quota_definition__validity_start_date, q.quota_definition__status, q.quota_definition__initial_volume, q.quota_definition__balance
        FROM
            S3Object q
        WHERE
            q.quota__commodities LIKE '%0203195900%'
    "</code></pre>

            <h5 id="get-data-report-example-with-s3-select-query-response">Response</h5>
            <pre tabindex="0"><code class="hljs html">Status: 200 OK
50123,2021-01-01,Exhausted,2000,0.0
50123,2021-07-01,Open,1349000,1349000.0
51921,2021-01-01,Open,1632000,1632000.0
51944,2021-01-01,Critical,167000,147000.0
57220,2021-01-01,Open,494000,494000.0
59282,2021-01-01,Open,4838000,4838000.0
</code></pre>

            <h4 id="get-data-report-example-with-simple-query">Example with a simple query</h4>
            <h5 id="get-data-report-example-with-simple-query-request">Request</h5>
            <pre tabindex="0"><code class="hljs html">curl --get {{ base_url }}/v1/datasets/{{ sample_dataset_with_report }}/versions/{{ sample_dataset_with_report_version }}/reports/{{ sample_dataset_with_report_report_name }}/data \
    --data-urlencode "format=csv" \
    --data-urlencode "query-simple" \
    --data-urlencode "quota__order_number=50123" \
    --data-urlencode "_columns=quota__order_number" \
    --data-urlencode "_columns=quota_definition__validity_start_date" \
    --data-urlencode "_columns=quota_definition__status" \
    --data-urlencode "_columns=quota_definition__initial_volume" \
    --data-urlencode "_columns=quota_definition__balance"
</code></pre>

            <h5 id="get-data-report-example-with-simple-query-response">Response</h5>
            <pre tabindex="0"><code class="hljs html">Status: 200 OK
quota__order_number,quota_definition__validity_start_date,quota_definition__status,quota_definition__initial_volume,quota_definition__balance
50123,2021-01-01,Exhausted,2000,0.0
50123,2021-07-01,Open,1349000,1349000.0
</code></pre>

            <h2 id="support">Support</h2>

            <p>For help with the {{ service_name }} please create an issue on its <a href="{{ github_repo_url }}/issues">GitHub issues page</a>.</p>

            <h2 id="security">Security</h2>

            <p>To report a security vulnerability please contact us at <a href="mailto:{{ security_email }}">{{ security_email }}</a>.</p>

          </main>
          <footer class="govuk-footer app-footer" role="contentinfo">
            <div class="govuk-footer__meta">
              <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  class="govuk-footer__licence-logo"
                  xmlns="http://www.w3.org/2000/svg"
                  viewbox="0 0 483.2 195.7"
                  height="17"
                  width="41"
                >
                  <path
                    fill="currentColor"
                    d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
                  >
                </svg>
                <span class="govuk-footer__licence-description">
                  All content is available under the
                  <a
                    class="govuk-footer__link"
                    href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                    rel="license"
                  >Open Government Licence v3.0</a>, except where otherwise stated
                </span>
              </div>
              <div class="govuk-footer__meta-item">
                <a
                  class="govuk-footer__link govuk-footer__copyright-logo"
                  href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
                >© Crown copyright</a>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='docs.js') }}"></script>
  </body>
</html>
