{% extends "base.html" %}

{% block title %}{{ csvw['dc:title'] }} - {{ version }}{% endblock %}

{% block body %}
    <h1 class="govuk-heading-l">{{ csvw['dc:title'] }} - {{ version }}</h1>

    <p class="govuk-body">The dataset of {{ csvw['dc:title'] }} consists of {{ csvw['tables']|length }} table{% if csvw['tables']|length > 1 %}s.{% endif %}

    <ul class="govuk-list">
    {% for table in csvw['tables'] %}
        <li>Table {{ loop.index + 1 }}: {{ table['dc:title'] }}</li>
    {% endfor %}
    </ul>

    {% for table in csvw['tables'] %}
    <h2 class="govuk-heading-m">Table {{ loop.index + 1 }}: {{ table['dc:title'] }}</h2>

    <p class="govuk-body">{{ table['dc:description'] }}</p>

    <p class="govuk-body"><a href="{{ table['url'] }}" class="govuk-link">Download "{{ table['dc:title'] }}" as a CSV file</a></p>

    <h3 class="govuk-heading-s">Columns</h3>

    <dl class="govuk-summary-list">
        {% for column in table['tableSchema']['columns']  %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ column['name'] }}</dt>
            <dd class="govuk-summary-list__value">{{ column['dc:description'] }}</dd>
        </div>
        {% endfor %}
    </dl>
    {% endfor %}

{% endblock %}
