{% extends "base.html" %}

{% block title %}{{ csvw['dc:title'] }} - {{ version }}{% endblock %}

{% block body %}
    <h1 class="govuk-heading-l">{{ csvw['dc:title'] }}</h1>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Version</dt>
            <dd class="govuk-summary-list__value">{{ version }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Published on</dt>
            <dd class="govuk-summary-list__value">{{ version_published_at.strftime('%d %B %Y') }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Published by</dt>
            <dd class="govuk-summary-list__value">{{ csvw['dc:creator'] }}</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Metadata</dt>
            <dd class="govuk-summary-list__value"><a href="{{ metadata_download_url }}">CSV on the Web</a></dd>
        </div>
         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Licence</dt>
            <dd class="govuk-summary-list__value"><a class="govuk-link" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a></dd>
        </div>
    </dl>

    <p class="govuk-body">The dataset of {{ csvw['dc:title'] }} consists of {{ csvw['tables']|length }} table{% if csvw['tables']|length > 1 %}s.{% endif %}

    <ul class="govuk-list govuk-list--bullet">
    {% for table in csvw['tables'] %}
        <li><a class="govuk-link govuk-link--no-visited-state" href="#{{ table['id'] }}">Table {{ loop.index }}: {{ table['dc:title'] }}</a></li>
    {% endfor %}
    </ul>

    {% for table in csvw['tables'] %}
    <h2 class="govuk-heading-m" id="{{ table['id'] }}">Table {{ loop.index }}: {{ table['dc:title'] }}</h2>

    <p class="govuk-body">{{ table['dc:description'] }}</p>

    <p class="govuk-body">
        Download the <a href="{{ table['url'] }}" class="govuk-link">{{ table['dc:title'] }} table</a> (CSV, {{ table_sizes[table['id']] | filesizeformat }}). To download less data you can <a href="{{ filter_urls[table['id']] }}" >filter on columns and rows in the {{ table['dc:title'] }} table.</a>
    </p>

    <h3 class="govuk-heading-s">Columns</h3>

    <dl class="govuk-summary-list">
        {% for column in table['tableSchema']['columns']  %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ column['name'] }}</dt>
            <dd class="govuk-summary-list__value">{{ column['dc:description'] }}</dd>
        </div>
        {% endfor %}
    </dl>
    {% endfor %}

{% endblock %}
