{% extends "base.html" %}

{% block title %}{{ csvw['dc:title'] }} - {{ version }}{% endblock %}

{% block head %}
<style>
    .metadata-summary {
        background: #f8f8f8;
    }
</style>
{% endblock %}

{% block body %}
    <div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{ csvw['dc:title'] }}</h1>

        <div class="metadata-summary govuk-!-padding-6 govuk-!-margin-bottom-6">

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Version</dt>
                    <dd class="govuk-summary-list__value">{{ version }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Published on</dt>
                    <dd class="govuk-summary-list__value">{{ version_published_at.strftime('%d %B %Y') }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Published by</dt>
                    <dd class="govuk-summary-list__value">{{ csvw['dc:creator'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Metadata</dt>
                    <dd class="govuk-summary-list__value"><a href="{{ metadata_download_url }}">CSV on the Web</a></dd>
                </div>
                 <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Licence</dt>
                    <dd class="govuk-summary-list__value"><a class="govuk-link" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a></dd>
                </div>
            </dl>

            <p class="govuk-body">The dataset of {{ csvw['dc:title'] }} consists of {{ csvw['tables']|length }} table{% if csvw['tables']|length > 1 %}s.{% endif %}

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
            {% for table in csvw['tables'] %}
                <li><a class="govuk-link govuk-link--no-visited-state" href="#{{ table['_id'] }}">Table {{ loop.index }}: {{ table['dc:title'] }}</a></li>
            {% endfor %}
            </ul>

        </div>

    </div></div>

    {% for table in csvw['tables'] %}
    <h2 class="govuk-heading-m" id="{{ table['_id'] }}">Table {{ loop.index }}: {{ table['dc:title'] }}</h2>

    <p class="govuk-body">{{ table['dc:description'] }}</p>

    <p class="govuk-body">
        Download the <a href="{{ table['url'] }}" class="govuk-link">{{ table['dc:title'] }} table</a> (CSV, {{ table_sizes[table['_id']] | filesizeformat }}). To download less data you can <a href="{{ filter_urls[table['_id']] }}" >filter on columns and rows in the {{ table['dc:title'] }} table.</a>
    </p>

    <table class="govuk-table">
        <caption class="govuk-table__caption">Column descriptions</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Column name</th>
                <th scope="col" class="govuk-table__header">Column description</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for column in table['tableSchema']['columns']  %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{ column['name'] }}</th>
                <td class="govuk-table__cell">{{ column['dc:description'] }}</td>
            </tr>
            {% endfor %}
      </tbody>
    </table>
    {% endfor %}

{% endblock %}
